.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 219px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: inline-block;
}

.card img {
  max-width: 100%;
  height: auto;
}

.title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.author {
  color: #555;
  margin: 0px;
}

.price {
  color: #e74c3c;
  font-size: 1em;
  margin: 0px;
  margin-bottom: 5px;
}

.buy-button {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #2980b9;
}
