<tabset>
    <tab heading="Search" class="container">
        <search></search>
        <hr>
        <div>
            <div class="card bg-primary text-white p-1 text-center" style="width: 100%;">All Book</div>
            <div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Seller Profile">
        <p>Rahul works!</p>
    </tab>
</tabset>