<tabset>
    <tab heading="Search" class="container">
        <search></search>
        <hr>
        <div>
            <div class="card bg-primary text-white p-1 text-center" style="width: 100%;">All Book</div>
            <!-- <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Sr. Num</th>
                        <th scope="col">Book</th>
                        <th scope="col">Author</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Price</th>
                        <th scope="col">Seller</th>
                        <th scope="col">To Buy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>LLD</td>
                        <td>Test</td>
                        <td>code</td>
                        <td>500 Rs</td>
                        <td>Rahul</td>
                        <td>but icon</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>LLD</td>
                        <td>Test</td>
                        <td>code</td>
                        <td>500 Rs</td>
                        <td>Rahul</td>
                        <td>but icon</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>LLD</td>
                        <td>Test</td>
                        <td>code</td>
                        <td>500 Rs</td>
                        <td>Rahul</td>
                        <td>but icon</td>
                    </tr>
                </tbody>
            </table> -->
            <div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="card">
                    <img src="assets/images/book1.jpg" alt="Book Cover">
                    <p class="title">Book Title</p>
                    <p class="author">Author Name</p>
                    <p class="price">$19.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Seller Profile">
        <p>Rahul works!</p>
    </tab>
</tabset>